.container {
  background-color: #0062E0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.item {
  padding: 25px;
  color: #fff;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
}

.item a {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
}

.item a:hover {
  color: #fff;
  font-weight: bold;
}

.sliderContainer {
  flex-direction: row;
  flex: 1;
  overflow-x: hidden;
}

.containerScroll {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  position: relative;
}

.sliderCarousel {
  flex: 1;
}

.buttonLeft {
  display: flex;
  box-shadow: -12.86px 0px 17.86px rgba(0, 0, 0, 0.1);
  
}

.buttonLeft > button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.buttonRight {
  display: flex;
  box-shadow:  12.8592px 0px 17.86px rgba(0, 0, 0, 0.1);
}

.buttonRight > button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.buttonGroup {
  position: absolute;
}

@media only screen and (min-width : 321px) and (max-width : 768px) {
  .containerScroll {
    display: inline-flex;
  }

  .sliderContainer {
    overflow-x: scroll;
  }

  .buttonLeft {
    display: none;
  }

  .buttonRight {
    display: none;
  }

  .item {
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
  }
}