.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.hideContainer {
  position: absolute;
  width: 100vw;
  bottom: 1px;
}

.transparent > * {
  color: #fff!important;
}

.showMenu > * {
  color: red!important;
}

.appLogo {}

.logo {
  height: 45px;
  width: auto;
}

.mainMenu {
  flex: 1;
}

.mainMenu ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  text-align: right;
  justify-content: flex-end;
}

.mainMenu ul li:last-child {
  padding-right: 0;
}

.mainMenu ul li {
  display: inline;
  padding: 10px 20px;
}

.mainMenu ul li a {
  font-size: 16px;
  color: #4B4B4B;
}

.searchContent {}

.menuRightSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.menuRightSearch > button {
  margin-right: 20px;
}

.menuLang {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  color: rgba(0,0,0,.55);
}

.menuLang > a {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.menuLang > a:last-child {
  margin-right: 0;
}

.menuLang .active::after {
  content: '';
  height: 5px;
  background-color: #0062E0;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-radius: 10px;
}

.menuSearch {
  position: absolute;
  background-color: #0062E0;
  width: 100%;
  top: 0;
  padding-top: 45px;
  padding-bottom: 25px;
}

.menuSearchContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.menuSearchContentNav {
  flex: 1;
}

.menuSearchContentRight {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.btnClose {
  background-color: #fff;
  padding: 5px;
  border-radius: 100px;
}

.menuSearchTitle {
  color: #fff;
  opacity: 0.5;
  font-family: 'MessinaSans-Regular';
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}

.blockMenu {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.blockItem {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  max-width: 200px;
  min-width: 150px;
}

.menuTitle {
  color: #fff;
  font-family: 'MessinaSans-Bold';
  font-size: 16px;
}

.blockItem li a {
  color: #fff!important;
}


@media only screen and (min-width : 321px) and (max-width : 991px) {
  /* Styles */
  .container {
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
  }

  .logo {
    height: 35px;
    width: auto;
  }

  .mainMenu {
    display: none;
    justify-content: space-between;
  }

  .hideContainer {
    /* left: -21px; */
  }

  .menuSearch {
    padding-top: 25px;
  }

  .blockMenu {
    margin-top: 25px;
  }

  .menuSearchTitle {
    font-size: 24px;
  }

  .menuLang {
    display: none;
  }

  .menuSearchContentRight {
    display: none;
  }

  .menuSearchContentNav {
    flex: unset;
    width: 100%;
  }
}