.container {
  display: flex;
  flex-direction: column;
}

.topContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.topContent > label {
  color: #848484;
  font-size: 12px;
}

.topContent > label.labelMetaDesc {
  flex: 1;
}

.date {
  color: #848484;
  font-size: 12px;
}

.photoContainer {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: hidden;
}

.photoContainer.large {
  max-height: 400px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.infoContainer {
  
}

.title {
  font-size: 21px;
  color: #4B4B4B;
  font-family: 'MessinaSans-SemiBold';
}

.smallTitle {
  font-size: 21px;
}

.description {
  margin-top: 10px;
  color: #848484;
}

.linkContainer {
  margin-top: 20px;
}

.link {
  color: #0062E0;
  font-size: 14px;
}

.datebottomContainer {
  margin-top: 10px;
}

@media only screen and (min-width : 321px) {
  /* Styles */
  .title {
    font-size: 28px;
  }

  .smallTitle {
    font-size: 21px;
  }

  .linkContainer {
    margin-top: 0px;
  }
}