.container {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 100px;
}

.instantionContainer {
  display: flex;
  flex-direction: row;
}

.instantionLeft {
  flex: 1;
}

.instantionRight {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
}

.imageJSC {
  width: 100px;
}

.imageDKI {
  width: 80px;
  height: auto;
}

.imageColaboration {
  width: 163px;
  height: fit-content;
}

.menuContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.menuItem {
  flex: 1;
}

.menuSosmed {
  width: 35%;
}

.menuTitle {
  font-size: 15px;
  color: #0048A4;
  font-weight: bold;
}

.iconSet {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconSet > * {
  margin-right: 20px;
}

.storeWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* justify-content: space-between; */
}

.footerBottom {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #000000;
}

.footerBottomLeft {
  width: 30%;
}

.footerBottomRight {
  flex: 1;
}

.footerBottomRight p {
  font-size: 14px;
}

.copyright {
  font-family: 'MessinaSans-Regular';
  font-size: 14px;
}

.langSelection {
  width: 200px;
  border: none;
  background-color: #0062E0;
  color: #fff;
  padding: 10px 15px 10px 10px;
  border-radius: 6px;
}


@media only screen and (min-width : 321px) and (max-width : 991px) {
  /* Styles */
  .instantionContainer {
    padding-left: 0;
    padding-right: 0;
  }

  .imageJSC {
    width: 60px;
  }
  
  .imageDKI {
    width: 60px;
    height: auto;
  }
  
  .imageColaboration {
    width: 100px;
    height: fit-content;
  }

  .instantionRight {
    width: inherit;
    flex: 1;
  }

  .menuContainer {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .menuSosmed {
    width: unset;
  }

  .footerBottom {
    margin-top: 20px;
  }

  .footerBottomLeft {
    width: unset;
    flex: 1;
  }
  
  .footerBottomRight {
    flex: 1;
  }
}

@media only screen and (min-width : 321px) and (max-width : 768px) {
  .footerBottom {
    flex-direction: column;
  }

  .footerBottomLeft {
    margin-bottom: 20px;
  }
  
  .footerBottomRight {
    flex: 1;
  }

  .langSelection {
    width: 100%;
  }
}