html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-container {
  background-color: #E5E5E5;
}

.tranparentMenu {
  background-color: transparent!important;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.tranparentMenu.navbar-light .navbar-nav .nav-link {
  color: #fff!important;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 1px solid #0062E0;
}
